* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(233, 238, 240);
    font-family: Arial, sans-serif;
}

:root {
    --blue: #007bff;
    --dark-blue: #0056b3;
    --light-blue: #f0f8ff;
    --grey: #d3d3d3;
    --dark-grey: #a9a9a9;

    --xxsm: .1rem;
    --xsm: .25rem;
    --sm: .5rem;
    --md: .75rem;
    --lg: 1rem;
    --xlg: 1.25rem;
    --xxlg: 1.5rem;
    --xxxlg: 2rem;

    --br-sm: 2px;
    --br-md: 4px;
    --br-lg: 8px;
    --br-xlg: 12px;

}